.esteemed {
  width: 100%;
  background-image: url("./woman.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 7em 0 0 50px;
  display: flex;
  justify-content: space-between;
  height: 30rem;
}

.esteemed-container {
  max-width: 500px;
  width: 100%;
  height: 25em;
  object-fit: contain;
}

.scanner-container {
  width: 100%;
  background: #000;
  padding: 5rem 0;
}

.scanner-container > div {
  background: rgb(0, 86, 82);
  max-width: 60em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em 2em;
  color: rgb(255, 255, 255);
}

.scanner-item {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 1.5em 0;
}

.estimate{
  
}

@media screen and (max-width: 768px) {
  .esteemed-container {
    width: 100%;
  }
  .scanner-container>div{
    align-items: center;
    justify-content: center;
  }
  .scanner-container,
  .scanner-container > div {
    padding: 2rem;
  }
  .scanner-item{
    width: 100%;
  }
}
