.register-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

.register-container>h1{
    font-size: 50px 
}

.register-container > p {
  width: 70%;
  font-size: 16px;
  padding: 0.7em 0;
  font-weight: bold;
}
.register-container>input{
    width: 70%;
    padding: 5px;
    font-Size: 20;
    border-Radius: 10;
    border: 1px solid grey;
}

.register-container>div{
    padding: 10px 0;
    width: 70%;
}

@media screen and (max-width: 768px){
    .register-container{
        width: 100%;
    }
    .register-container>h1{
        font-size: 40px;
    }
    .register-container>p,.register-container>input{
     width: 90%;
    }
    .register-container>div{
        width: 100%;
    }
}
