.slider-item { 
    background-image: url("./product-bg.jpg");
    max-width: 20rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 22rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1.5rem 0;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin: 0 5px;
  }
  
  .slider-item > img {
    object-fit: cover;
    height: 70% !important;
    transition: all 0.5s ease-in-out;
  }
  
  .slider-item:hover img {
    transform: scale(1.3);
  }
  
  .slider-item a {
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  
  @media screen and (max-width: 768px){
  }
  