.productDetail {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
  min-width: 1200px;
}

.product-detail-container {
  max-width: 1200px;
  width: 100%;
  color: #005652;
}

.imageContainer {
  width: 45%;
  height: 90%;
}

.product-detail-image {
  width: 100%;
  z-index: 1;
  height: 500px;
}
.imageContainer > div > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.description {
  color: #005652;
  width: 50%;
  margin-left: 10px;
  font-size: 13px;
}
.description > p {
  line-height: 20px;
}
.description > p > span {
  font-weight: bold;
}
.banner-image {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
}
button {
  background: #005652;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  width: 300px;
}
.review-container {
  width: 100%;
}

.reviews {
  width: 50%;
}

.product-slider {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.slider-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
}

.slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

.slider-item:last-child {
  margin-right: 0;
}

.slider-item img {
  max-width: 100%;
  height: auto;
}

.slider-item h3 {
  font-size: 18px;
  margin-top: 10px;
}

.slider-transition-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slider-transition-enter-active {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.slider-transition-exit {
  transform: translateX(-100%);
  opacity: 0;
}

.slider-transition-exit-active {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.icon {
  font-size: 3rem;
  color: #fff;
}

.section-center {
  width: 100%;
  height: 33em;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.product {
  width: 100%;
  background: #e8eae1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 50px;
}

.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(0, 86, 82, 0.7);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #005652;
  /* background: #010f30; */
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toast {
  width: '100%'
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.social-media-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1.5rem;
}

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}

.social-icon {
  background: #0b4640;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon > svg {
  font-size: 20px;
}

.social-icon > img {
  width: 60px;
  height: 60px;
}

.description-container {
  width: 100%;
  display: flex;
  padding: 0.3em 0;
  flex-wrap: wrap;
}

.description-container-title {
  text-decoration: underline;
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}

.description-container-title2 {
  width: 70%;
  font-size: 20px;
}
.orderButton > button {
  width: 200px;
  font-size: 18;
  background-color: #005652;
}

.cart-button-container{
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .cart-button-container{
    flex-direction: column-reverse;
  }
  .product-detail-container {
    padding: 0 0rem;
  }
  .productDetail {
    min-width: 100%;
    padding: 0;
  }
  .imageContainer {
    width: 100%;
    height: 40%;
    padding: 0 10px;
  }
  .product-detail-image {
    height: 100%;
    position: relative;
  }
  .description {
    width: 100%;
    padding-right: 10px;
  }
  .social-media-container {
    padding: 1rem 0.5rem;
  }
  .social-media {
    padding-right: 0rem;
  }

  .social-icon {
    width: 40px;
    height: 40px;
  }
  .social-icon > svg,
  .social-icon > img {
    width: 30px;
    height: 30px;
  }
  .social-media > p {
    display: none;
  }

  .reviews {
    width: 100%;
    padding-left: 1rem;
  }

  .description-container-title,
  .description-container-title2 {
    width: 100%;
  }
  .orderButton > button {
    width: 150px;
    font-size: 12;
  }

  button {
    font-size: 14px;
  }

  .banner-image{
    padding-top: 4rem;
  }
  /* .next{
    margin-right: 35px;
  } */
}
