header {
  /* background: #005652; */
  background-image: linear-gradient(to right, #004d4a, #002b2a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  padding: 10px 2em 10px 7em;
  color: #fff;
  position: fixed;
  overflow: hidden;
  z-index: 9999;
  width: 100%;
  top: 0;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container>div>p,
.header-container>div>a {
  font-size: 0.8rem;
}

.search-bar {
  width: 90%;
  display: flex;
  background: #fff;
  align-items: center;
  padding: 0 0.5em;
  border-radius: 5px;
}

.searchQuery {
  top: 40px;
  position: fixed;
  border-radius: 10px;
  max-width: 305px;
  width: 100%;
  padding: 10px;
  height: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
  right: calc(13.7%);
  z-index: 1000;
  background-color: #fff;
  color: #000;
  margin: 0;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
}

.searchQuery::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
}

.overlay {
  background: rgba(6, 25, 72, 0.5);
}

.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #fff;
  /* background: #010f30; */
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  color: #000;
  z-index: 9999;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.cart-profile {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: space-between;
}

.cart-item {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  background-image: url("../../assets/cart.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#google_translate_element {
  margin-top: 10px !important;
}

#google_translate_element>select {
  border: none;
  outline: none;
  padding: 12px;
  font-size: 16px;
  color: #333;
  border-radius: 8px;
  background-color: var(--white-to-grey);
  border: 1px solid var(--bs-border-color);
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

#google_translate_element>.goog-te-combo {
  font-size: 15px !important;
  color: var(--d-l-grey);
}

.sign-profile {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.search-icon {
  display: none;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 10px 2rem;
  }

  .cart-profile {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }

  .sign-profile {
    justify-content: flex-end;
    width: 100%;
    display: none;
  }

  .sig,
  .ord {
    display: none;
  }

  header {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px 1rem;
  }

  .search-bar {
    position: absolute;
    top: 65%;
    left: 3%;
    height: 2rem;
    width: 94%;
    display: none;
  }

  .search-bar-active {
    display: flex;
  }

  .header-container {
    width: 50%;
    justify-content: flex-end;
  }

  .old-web {
    display: none;
  }

  .cart-profile {
    width: 100%;

    justify-content: flex-end;
  }

  .search-icon {
    display: block;
  }
}