
.second-nave{
    height: 100vh;
    top: 4rem;
    left: 0;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translateX(145%);
    transition: 0.65s;
    padding: 2rem;
    z-index: 999;
    background-image: linear-gradient(to right,#f0f0f0,#f0f0f0);
    color:#000 !important;
    position: fixed;
}

.nav-active{
    transform: translateX(45%);
}

.nav-active {
    animation: animation 0.5s ease forwards 0.85s;
  }

.second-nave>ul{
    list-style: none;
    font-weight: bold;
    width: 100%;
    overflow-y: scroll;
}

.second-nave>ul>li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    font-size: 20px;
}

.user-profile-lang{
    width: 100%;
    padding-right: 2rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 4rem;
    padding-bottom: 2rem;
    text-decoration: underline;
  }

.back-button{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}