nav {
  top: 6rem;
  /* background-color: #005652; */
  background-image: linear-gradient(to right, #004d4a, #002b2a);
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-menu{
  font-size: 16px !important;
}
.navContainer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  width: 1050px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.7em 0 0em;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  display: flex;
  align-items: center;
  list-style: none;
}

.dropdown > .different {
  border: none;
  outline: none;
  color: white;
  margin: 0;
  cursor: pointer;
  position: relative;
  padding:8px 5px;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  justify-content: center;
  align-items: center;

}

.dropdown > .different>span{
  font-size: 16px;
  font-weight: 500;
}

/* Style 3: Just animate the :after element's width from 0 to 100% */
.dropdown > .different:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  display: block;
  transition: all 0.3s ease;
  top: 22%; /* Change 'bottom' to 'top' */
}

.dropdown > .different:hover::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

/* .navbar a:hover {
  background-color: red;
} */

.dropdown-content {
  /* display: none; */
  margin-left: -2em;
  /* max-width: 1050px; */
  /* width: 80%; */
  position: absolute;
  background-color: #000;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transform: translateY(-10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  top: 38px;
  font-size: 20px;
  display: flex;
  /* height: 18em; */
  justify-content: space-between;
  padding-left: 1rem;
  padding-bottom: 20px;
}

.dropdown:hover .dropdown-content {
  /* display: block; */
  transform: translate(0, 0);
  opacity: 0.9;
  pointer-events: auto;
}

/* for sub menu item background color */
/* .dropdown-item:hover{
  background-color:#005652;
} */

.dropdown-item:hover a {
  color: #fff;
}

.dropdown-content a {
  width: 100%;
  float: none;
  color: #fff;
  padding: 2.5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 16;
}

/* .column a:hover {
  background-color: #ddd;
} */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.different>svg{
  display: none;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  nav {
    height: 50%;
    top: 4rem;
    left: 0;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(145%);
    transition: 0.65s;
    padding-top: 3rem;
    background-image: linear-gradient(to right,#f0f0f0,#f0f0f0);
    color:#000 !important
  }
  .navContainer{
    height: 70%;
    width: 100%;
    justify-content: space-between;
  }
  .dropdown{
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    width: 100%;
    padding: 0;
    height: 100%;
  }
  .dropdown-content > img {
    display: none;
  }
  .hamburger-menu-container {
    display: flex;
  }

  #check {
    display: block;
    color: #fff !important;
    top: 2rem;
  }

  .column {
    width: 100%;
    height: auto;
  }
  .dropdown-content{
    height: auto;
    left: 0;
    position: block;
    
  }
  .dropdown > .different{
    width: 100%;
    padding:0.5rem 1rem !important;
    color: #000;
  }
  .dropdown>.different>span{
    width: 90%;
    font-size: 1.3rem;
    color: #000;
    font-weight: bold;
  }
  .different>svg{
    display: block;
  }
  .user-profile-lang{
    display: flex;
  }
}
