.secondBanner {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-banner-container {
  background-color: #000;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.second-banner-container2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 1em;
  background: #000;
  color: #fff;
  padding: 1em 0;
}

.second-banner-container > div {
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-banner-container2 > div {
  width: 49.7%;
  text-align: center;
}

.banner {
  width: 100%;
  background-image: url("./black-stone-spa.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 7em 0 0 50px;
  display: flex;
  justify-content: space-between;
  height: 35em;
}

.back {
  text-align: center;
  background-image: url("./dark-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6em 0 10em;
  border-bottom: 50px solid #00504c;
}

.back-childe {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: #fff;
  padding: 1rem;
  margin-top: 1rem;
}
.pointer {
  width: 40%;
  height: 40em;
  position: absolute;
  background: #e5efe7;
  /* background-image: url("./productoil-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  overflow: hidden;
  right: 0em;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  z-index: 1;
}
/* .pointer:after {
  content: "";
  position: absolute;
  left: -200px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 12.6em solid #e5efe7;
  border-top: 22.6em solid transparent;
  border-bottom: 22.6em solid transparent;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
} */
.banner-second {
  width: 100%;
  padding-top: 50px;
  border-bottom-left-radius: 25px;
  display: flex;
}

.blue-div {
  position: absolute;
  height: 11em;
  width: 40%;
  right: 0;
  background: linear-gradient(to right, #004d4a, #002b2a);
  overflow: hidden;
  z-index: 0;
}

/* Apply the folded corner effect */
/* .blue-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom left;
  transform: skewX(-10deg);
  background-color: #fff;
} */

.blue-div::after {
  content: "";
  position: absolute;
  bottom: 0em;
  left: -13em;
  width: 30em;
  height: 8em;
  background-color: #f6f9fa;
  transform: rotate(65deg);
}

.blue-div-second {
  width: 40px;
  height: 220px;
  background-color: #005652;
  transform: rotate(-20deg);
}

.arrowDown {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}

.arrowUp {
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}

.shop-olin {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}

.banner-first > h1 {
  font-size: 45px;
}

.banner-first > p {
  width: 35%;
  line-height: 30px;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 20px;
}

.banner-second-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0em 0px 2em;
  overflow: hidden !important;
  z-index: 1;
}

.childe1{
  width: 40%;
}

.childe1 > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}
.childe1 >div>p{
  color: #005652; font-Size: 18px
}
.childe1 > div > img {
  object-fit: contain;
  width: 80px;
  height: 80px;
}
.childe2{
  padding-top: 20rem;
}
.childe1{
  padding-bottom: 2rem;
}
.childe1>div{
  padding-left: 2rem;
}
.childe1 >div>p{
  font-Size: 14px;
  width: 60%;
}
@media screen and (max-width: 768px) {
  .pointer {
    width: 45%;
    height: 20rem;
    margin-top: 18rem;
  }
  .blue-div {
    width: 100%;
    height: 8.5em;
  }
  .blue-div::after {
    content: "";
    position: absolute;
    bottom: 0em;
    left: -16em;
    width: 37em;
    height: 18em;
    background-color: #f6f9fa;
    transform: rotate(72deg);
  }
  .banner-second {
    padding-top: 0px;
  }
  .second-banner-container,.second-banner-container2{
    justify-content: center;
  }
  .second-banner-container > div {
    width: 97%;
  }
  .second-banner-container2 > div {
    width: 99%;
  }
  .back-childe {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .shop-olin {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .banner {
    padding-top: 4rem;
  }
  .banner-first > h1 {
    font-size: 25px;
  }
  .banner-first > p {
    font-size: 15px;
    line-height: 17px;
    width: 85%;
  }
  .childe1{
    margin-left: 2rem;
  }
  .childe1>div{
    margin-left: 1rem;
  }
  .childe1 >div>p{
    font-Size: 10px;
    width: 60%;
  }
  .childe1 > div > img {
    width: 40px;
    height: 40px;
  }

  .childe2{
    padding-top: 12rem;
  }
}
