.icon {
  font-size: 3rem;
  color: #fff;
}

.section-center-home {
  width: 100%;
  height: 25em;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

.person-img {
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 4px solid hsl(210, 31%, 80%); */
}

/* .prev,
.next {
  position: absolute;
  top: 170px;
  transform: translateY(-50%);
  background-color: transparent;
  color: #000 !important;
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.prev {
  left: 0;
  margin-left: 10px;
}
.next {
  right: 0;
  margin-right: 25px;
} */
@media (min-width: 800px) {

  .text {
    max-width: 45em;
  }
 
}

.product {
  width: 100%;
  /* background: #e8eae1; */
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-container-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  padding: 20px 0px;
}

.best-seller-container > a {
  padding-bottom: 0.7rem;
  margin-bottom: 0.5rem;
}

.all-background {
  background-image: url("./yty12.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-product-item {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 17em;
  width: 100%;
  height: 17em;
  margin-bottom: 0.5rem;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1em;
  margin-right: 0.25rem;
}

.product-item {
  width: 19.8em;
  height: 19.8em;
  margin-bottom: 1em;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1em;
}

.home-product-item > img {
  object-fit: contain;
  transition: all 0.5s ease-in-out;
}

.home-product-item:hover img {
  transform: scale(1.3);
}

.banner-black {
  background-image: url("./edit02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 25em;
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 5em;
}

video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.cafe-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.second-cafe-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.cafe-image {
  width: 55%;
  height: 23.5em;
}
.cafe-container > div > div {
  position: absolute;
  left: 6rem;
  display: flex;
  padding-top: 1.5em;
}
.cafe-image > div > img {
  width: 40rem;
  object-fit: cover;
}

.second-cafe-image {
  width: 45%;
  background: #fff;
  height: 24rem;
}

.second-cafe-image > div {
  position: absolute;
  right: 5%;
  display: flex;
  padding-top: 1.5em;
}

.second-cafe-image > div > img {
  width: 42rem;
  object-fit: cover;
}

.blue-dev {
  background: #42b2be;
  width: 2.5em;
  height: 10em;
}

.cafe-content {
  width: 29%;
  margin-left: 0.5rem;
}

.best-seller > p {
  width: 60%;
  margin-left: 5rem;
}
.best-seller > ul {
  width: 55%;
  margin-left: 5rem;
}

.video{
  height: 70vh;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.best-seller-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.byCategory-slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.byCategory-slider-wrapper {
  max-width: 1150px;
  width: 100%;
  overflow: hidden;
}

.byCategory-slider-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
  white-space: nowrap;
}

.byCategory-home-product-item {
  flex: 0 0 24%; /* 4 items per view (100% / 4) */
  max-width: 17em;
  height: 280px; /* Adjust height */
  margin: 1rem 5px;
  /* background-color: #fff; */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
}

.byCategory-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: #005652;
  border: none;
  cursor: pointer;
}

.byCategory-prev {
  z-index: 999;
  left: -15px;
}

.byCategory-next {
  right: 0px;
}
.byCategory-dots {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.dotes-container{
  display: flex;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  justify-content: center;
  padding: 5px;
  border-radius: 20px;
}
.dot {
  width: 7px;
  height: 7px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.dot.active {
  background-color: #005652;
  transform: scale(1.2);
}
@media (max-width: 1023px) { /* Tablet */
  .byCategory-home-product-item {
    flex: 0 0 31.33%; /* 3 items per row */
  }
}

@media (max-width: 767px) { /* Mobile */
  .byCategory-home-product-item {
    flex: 0 0 50%; /* 2 items per row */
  }
}
@media screen and (max-width: 768px) {
  .home-product-item{
    height: 13rem;
    background-size: cover;
    padding: 0.5rem;
  }
 
  .home-product-item>a{
    font-size: 10px;
    
    text-align: center;
  }
  .home-video{
    padding-top: 4rem;
  }
  .video{ 
    height: 17rem !important;
  }
  video{
   height: 17rem;
   min-height: 27rem;
  }
  .section-center-home{
    height: 12rem;
  }
  .section-center-home>button{
    top:55px
  }
  .cafe-container,
  .second-cafe-container {
    flex-direction: column;
  }
  .second-cafe-container {
    padding-right: 1rem;
    width: 96%;
  }
  .cafe-image {
    width: 100%;
    height: 14rem;
  }
  .second-cafe-image {
    width: 90%;
    margin-left: 1rem;
    height: 14rem;
    margin-top: 0.5rem;
  }
  .cafe-container > div > div,
  .second-cafe-image > div {
    width: 100%;
    position: relative;
    left: 1rem;
    padding-top: 1rem;
  }
  .cafe-image > div > img,
  .second-cafe-image > div > img {
    width: 100%;
    height: 12rem;
  }
  .blue-dev {
    height: 100%;
  }
  .cafe-content {
    width: 100%;
    padding-top: 2rem;
    padding-left: 1rem;
  }
  .best-seller > p {
    width: 95%;
    margin-left: 0rem;
    padding: 0 1rem;
  }
  .best-seller>ul{
    width: 86%;
    margin-left: 0rem;
    padding: 0 1rem;
  }
  .product-container-home{
    padding: 1rem ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }

  .best-seller-container{
    flex-direction: column;
    justify-content: center;
  }
  .person-img{
    object-fit: cover;
    margin-top: 40px;
    height: 100%;
  }
  /* .next{
    margin-right: 55px;
  } */
}
